@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme{
    --color-primary: #5f6fff;
    --color-primary-dull: #D63854;
}

*{
  font-family: Outfit;
}


.hide-scrollbar {
  overflow: auto; /* یا scroll */
  scrollbar-width: none; /* مخصوص Firefox */
  -ms-overflow-style: none; /* مخصوص IE و Edge قدیمی */
}

@import "tailwindcss";